:root{
    /* colors */
    --primary-100 : #e2e0ff;
    --primary-200 : #c1beff;
    --primary-300 : #a29dff;
    --primary-400 : #837dff;
    --primary-500 : #645cff;
    --primary-600 : #504acc;
    --primary-700 : #3c3799;
    --primary-800 : #282566;
    --primary-900 : #141233;

    /* gold */
    --gold-50:  #fff4cc;
    --gold-100: #ffe699;
    --gold-200: #ffd966;
    --gold-300: #ffcc33;
    --gold-400: #ffbf00;
    --gold-500: #ffae00;
    --gold-600: #e69c00;
    --gold-700: #cc8a00;
    --gold-800: #b37800;
    --gold-900: #996600;

    /* grey */
    --grey-50:  #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    
    /* rest of the colors */
    --black:        #222;
    --white:        #fff;
    --red-light :   #f8d7da;
    --red-mid :     #e71425;
    --red-dark :    #842029;
    --green-light:  #d1e7dd;
    --green-mid:    #03a359;
    --green-dark:   #0f5132;

    /* fonts */
    --headingFont: 'Roboto', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --smallText:0.7em;

    /* other variables */
    --backgroundColor:var(--grey-50);
    --backgroundNavColor:var(--grey-900);
    --textColor:var(--grey-900);
    --borderRadius:0.25rem;
    --letter-spacing: 1px;
    --transition:0.3s ease-in-out all;
    --max-width:1120px;
    --fixed-width :600px;

    /* box shadow */
    --shadow-1: 0 1px 3px  0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.6);
    --shadow-2: 0 4px 6px  -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.6);
    --shadow-3: 0 10px 15px  -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.5);
    --shadow-4: 0 20px 25px  -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.4);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Breadcrumbs */
.breadcrumbs_About {
    background-color: hsl(270, 50%, 11%);
    background-image: linear-gradient(120deg, hsla(26, 80%, 50%, .5), 10%, hsl(270, 50%, 11%) 60%), url("./snowB.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.breadcrumbs_About .bread-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumbs_row_About h2 {
    font-size: 2rem;
    color: var(--white);
}

.breadcrumbs_row_About li, .breadcrumbs_row_About a {
    color: var(--white);
    font-size: 20px;
    padding: 10px 30px;
}
   
.breadcrumbs_row_About a:hover {
    background: var(--green-dark);
    transition: all 0.4s ease;
}

/* About Us Page */
.about-us {
    padding: 2% 20px;
    
}

.about-us h2 {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--grey-800);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.about-us p {
    font-size: 15px;
    line-height: 1.6;
    color: var(--black);
    max-width: 800px;
    margin: 0 auto;
    
}

/* Intro Section */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
    background-size: cover;
    background-position: center; 
    padding: 60px 40px;
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

.intro h2 {
    font-size: 2.8rem;
    color: var(--grey-800);
    margin-bottom: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.intro p {
    font-size: 17px;
    color: var(--black);
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center
}

/* Mission & Vision Section */
.mission-vision {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    min-height: 30vh;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.3s;
    animation: slideUp 0.5s ease;
    background-color: hsl(270, 50%, 11%);
    background-image: linear-gradient(120deg, hsla(26, 80%, 50%, .5), 60%, hsl(193, 50%, 11%) 70%), url("");
    box-shadow: 0 6px 16px 0 hsla(270, 30%, 3%, .4);
    border-radius: 8px;
    padding: 2rem 3.6rem;
}

.mission-vision div {
    background: rgba(255, 255, 255, .1);
    padding: 20px;
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission-vision div:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-3);
}

.mission-vision p{
    padding: 20px;
    color: var(--grey-200);
    letter-spacing: var(--letter-spacing);
}

.mission-vision h2{
    color: var(--grey-200);

}

/* Values Section */
.values {
    padding: 6px 40px;
    border-radius: 20px;
    margin-top: 5%;
    /* margin-bottom: 2px; */
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

.values h2 {
    font-size: 2.8rem;
    color: var(--grey-800);
    margin-bottom: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.values p {
    font-size: 17px;
    color: var(--black);
    /* margin-bottom: 5px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center
}

/* Team Section */
.team {
    padding: 60px 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    text-align: center;
    animation: fadeIn 1.2s ease-in-out;
}

.team h2 {
    font-size: 2.8rem;
    color: var(--grey-800);
    margin-bottom: 40px;
    font-weight: 700;
    font-family: sans-serif;
}

.team-members {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.team-member {
    background: var(--grey-200);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: var(--shadow-2);
    transition: transform 0.4s ease, box-shadow 0.3s;
    animation: slideUp 0.8s ease;
}

.team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.team-member:hover img {
    transform: scale(1.1);
}

.team-member h3 {
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: var(--grey-900);
    text-decoration: double;
}

.team-member p {
    font-size: 1rem;
    color: var(--grey-600);
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-3);
}

/* Contact Section */
.contact {
    background-color: hsl(270, 50%, 11%);
    background-image: linear-gradient(120deg, hsla(26, 80%, 50%, .5), 60%, hsl(193, 50%, 11%) 70%), url("");
    box-shadow: 0 6px 16px 0 hsla(270, 30%, 3%, .4);
    border-radius: 8px;
    padding: 20px 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.contact div{
    background: rgba(0,0,0,0.2);
    padding: 60px 40px;
    border-radius: 20px;
}

.contact h2{
    font-size: 2.8rem;
    color: var(--grey-200);
    margin-bottom: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.contact a {
    color: var(--grey-500);
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.contact a:hover {
    color: var(--green-dark);
    transform: scale(1.05);
    margin-left: 8px;
    transition: 0.4s;
}

.contact p {
    font-size: 14px;
    color: var(--grey-200);
    margin-bottom: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left
}

/* Partners Section */
.partners {
    padding: 60px 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    text-align: center;
    animation: fadeIn 1.2s ease-in-out;
}

.partners h2 {
    font-size: 2rem;
    color: var(--grey-900);
    margin-bottom: 20px;
}

.partner-logos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.partner-logos img {
    width: 150px;
    height: auto;
    transition: transform 0.4s ease, filter 0.3s ease;
}

.partner-logos img:hover {
    transform: scale(1.15);
}

/* Media Queries */
@media (max-width: 768px) {
    .about-us h2 {
        font-size: 2rem;
    }

    .mission-vision, .team-members {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.9rem;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
