:root{
    /*colors*/
    --primary-100 : #e2e0ff;
    --primary-200 : #c1beff;
    --primary-300 : #a29dff;
    --primary-400 : #837dff;
    --primary-500 : #645cff;
    --primary-600 : #504acc;
    --primary-700 : #3c3799;
    --primary-800 : #282566;
    --primary-900 : #141233;

	/* gold */
	--gold-50:  #fff4cc;
	--gold-100: #ffe699;
	--gold-200: #ffd966;
	--gold-300: #ffcc33;
	--gold-400: #ffbf00;
	--gold-500: #ffae00;
	--gold-600: #e69c00;
	--gold-700: #cc8a00;
	--gold-800: #b37800;
	--gold-900: #996600;

    /*grey*/
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    
    /*rest of the colors*/
    --black: #222;
    --white:#fff;
    --red-light : #f8d7da;
    --red-light : #f7192c;
    --red-dark : #842029;
    --gree-light: #d1e7dd;
    --green-mid:#03a359;
    --green-dark:#0f5132;

    /*fonts*/
    --headingFont: 'Roboto', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --smallText:0.7em;
    /*rest of the vars*/
    --backgroundColor:var(--grey-50);
    --backgroundNavColor:var(--grey-900);
    --textColor:var(--grey-900);
    --borderRadius:0.25rem;
    --letter-spacing: 1px;
    --transition:0.3s ease-in-out all;
    --max-width:1120px;
    --fixed-width :600px;

    /*box shadow*/
    --shadow-1: 0 1px 3px  0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.6);
    --shadow-2: 0 4px 6px  -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.6);
    --shadow-3: 0 10px 15px  -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.5);
    --shadow-4: 0 20px 25px  -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.4);
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/*===================
	Start Header CSS 
=====================*/
.header {
	background: var(--grey-100);
    position: relative;
    width: 100%;
    z-index: 10;
    transition: top 0.3s, position 0.3s, z-index 0.3s, background-color 0.3s, background-image 0.3s;
}

.header.fixed { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: var(--shadow-4);
    background-color: hsl(270, 50%, 11%);
    background-image: linear-gradient(120deg, hsla(26, 80%, 50%, .5) 10%, hsl(270, 50%, 11%) 60%), url("./house.png");
}

.header.fixed .nav li a{
	color: var(--white);
	letter-spacing: var(--letter-spacing);
	font-weight: lighter;
}


.header-inner {
    background: transparent;
    width: 100%;
    padding: 0;
}


.row{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .logo {
	float: left;
	margin-top: 18px;
}

.logo a img{
  width: 180px;
  height: 80px;
}

.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
	height: 0px;
	min-height: 0px;
}
.header .nav li{
	margin-right: 15px;
    float: left;
	position:relative;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a{
	color: var(--grey-900);
	letter-spacing: var(--letter-spacing);
	font-size: 15px;
	font-weight: 500;
	text-transform: capitalize;
	padding: 25px 12px;
	position: relative;
	display: inline-block;
	position:relative;
}

.header .nav li a::before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 3px;
	width:0%;
	background: var(--gold-600);
	border-radius: 5px 5px 0 0;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.header .nav li.active a:before{
	opacity:1;
	visibility:visible;
	width: 100%;
}
.header .nav li.active a{
	color:var(--gold-600);
}
.header .nav li:hover a:before{
	opacity:1;
	width: 100%;
	visibility:visible;
}
.header .nav li:hover a{
	color:var(--green-mid);
}
.header .nav li a i {
	display: inline-block;
	margin-left: 1px;
	font-size: 13px;
}

/* Dropdown Menu */
.header .nav li .dropdown {
	background: #fff;
	width: 220px;
	position: absolute;
	left:-20px;
	top: 100%;
	z-index: 999;
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 5px #3333334d;
	transform-origin: 0 0 0;
	transform: scaleY(0.2);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	top: 74px;
	border-left:3px solid var(--gold-600);
}
.header .nav li:hover .dropdown{
	opacity:1;
	visibility:visible;
	transform:translateY(0px);
}
.header .nav li .dropdown li{
	float:none;
	margin:0;
	border-bottom:1px dashed var(--gold-200);
}
.header .nav li .dropdown li:last-child{
	border:none;
}
.header .nav li .dropdown li a {
	padding: 12px 15px;
	color: var(--grey-600);
	display: block;
	font-weight: 400;
	text-transform: capitalize;
	background: transparent;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.header .nav li .dropdown li a:before{
	display:none;
}
.header .nav li .dropdown li:last-child a{
	border-bottom:0px;
}
.header .nav li .dropdown li:hover a{
	color:var(--green-mid);
}
.header .nav li .dropdown li a:hover{
	border-color:transparent;
}
/*=========================
	End Header CSS
===========================*/