:root{
    /*colors*/
    --primary-100 : #e2e0ff;
    --primary-200 : #c1beff;
    --primary-300 : #a29dff;
    --primary-400 : #837dff;
    --primary-500 : #645cff;
    --primary-600 : #504acc;
    --primary-700 : #3c3799;
    --primary-800 : #282566;
    --primary-900 : #141233;

    /* gold */
	--gold-50:  #fff4cc;
	--gold-100: #ffe699;
	--gold-200: #ffd966;
	--gold-300: #ffcc33;
	--gold-400: #ffbf00;
	--gold-500: #ffae00;
	--gold-600: #e69c00;
	--gold-700: #cc8a00;
	--gold-800: #b37800;
	--gold-900: #996600;

    /*grey*/
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    
    /*rest of the colors*/
    --black: #222;
    --white:#fff;
    --red-light : #f8d7da;
    --red-mid : #f7192c;
    --red-dark : #842029;
    --gree-light: #d1e7dd;
    --green-mid:#01a056;
    --green-dark:#0f5132;

    /*fonts*/
    --headingFont: 'Roboto', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --smallText:0.7em;
    /*rest of the vars*/
    --backgroundColor:var(--grey-50);
    --backgroundNavColor:var(--grey-900);
    --textColor:var(--grey-900);
    --borderRadius:0.25rem;
    --letter-spacing: 1px;
    --transition:0.3s ease-in-out all;
    --max-width:1120px;
    --fixed-width :600px;

    /*box shadow*/
    --shadow-1: 0 1px 3px  0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.6);
    --shadow-2: 0 4px 6px  -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.6);
    --shadow-3: 0 10px 15px  -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.5);
    --shadow-4: 0 20px 25px  -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.4);
}



/* hero*/
.heros{
  margin: 2px;
 height:60vh;
 position: relative;
 margin-bottom: 2rem;
 border-radius: var(--borderRadius);
 
}
.heros-container{
  
  height:60vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:space-around;
  border-radius: var(--borderRadius);
}
.single-service{
  display: grid;
  grid-template-columns: 1fr;
}
.single-service{
  width:100%;
  height: 80%;
	margin:15px 7px;
	position:relative;
  border-radius: 10px;
	padding:20px;
  background-image: linear-gradient(135deg,#e38408af 81% , rgb(5, 93, 30)19.0%);
  overflow: hidden;
  
}

.single-service a img {
	width: 50px;
  height: 50px;
  float: left;
  
  
}
#service2   #h{
  padding-top: 60px;
  text-transform: capitalize;
  align-items: center;
  color: var(--grey-900);
  
}
#p{
  color: var(--grey-900);
  
  
}
.heros{
  transition-timing-function: ease-out;
  animation: animate 25s ease-out;
  animation-delay: 0s;
  bottom: -10px;
  z-index: 0;
}
@keyframes animate {
  0% {
  transform: translateY(10) rotate(10deg);
  opacity: 5;
  border-radius: 0;}
  100% {
  transform: translateY(1200px) scale(720deg);
  opacity: 1;
 }
  } 



