/* General Styles */
.NewsUp-section {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(145deg, #eef2f3, #ffffff);
  border-radius: 15px;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.NewsUp-section h2 {
  font-size: 2.5rem;
  color: rgb(15, 19, 19);
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
}

.NewsUp-section h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #06b600;
  margin: 10px auto 0;
  border-radius: 2px;
}

/* Slider Styles */
/* .slick-slider {
  margin-top: 30px;
} */

.slick-dots {
  bottom: -25px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #0fb600;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.slick-dots li.slick-active button:before {
  color: #663600;
  opacity: 1;
}
.color{
  color: #444444;
}
/* .slick-prev,
.slick-next {
  z-index: 1;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #0077b6;
  border-radius: 50%;
  font-size: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
} */
.a{
  box-sizing: border-box;
  background-image: linear-gradient(135deg , rgb(218, 106, 15) , rgb(224, 132, 10));
}
.a:hover{
  background-image: linear-gradient(135deg , rgb(20, 216, 53) , rgb(223, 147, 8));
}

/* .slick-prev:hover,
.slick-next:hover {
  background: #b66100;
  color: #ffffff;
  border-color: #b60c00;
}

.slick-prev::before,
.slick-next::before {
  font-size: 16px;
  color: #0077b6;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #ffffff;
} */

/* NewsUp Card */
.NewsUp-card {
  max-height: 40vh;
  margin: 0 7px;
  padding: 30px;
  background-image: linear-gradient(135deg , #043 , #023);
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1), inset 0px 1px 5px rgba(255, 255, 255, 0.8);
  transition: transform 0.3s, box-shadow 0.3s;
}

.NewsUp-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2), inset 0px 2px 10px rgba(255, 255, 255, 0.8);
}

.NewsUp-card-content {
 justify-items: center;
  
}

.NewsUp-image {
  width: 120px;
  height: 110px;
  border-radius: 5%;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.NewsUp-image:hover {
  transform: rotate(10deg) scale(1.1);
}

.NewsUp-card h3  {
  font-size: 1.5rem;
  color: rgb(247, 247, 247);
  margin: 10px 0;
  text-transform: capitalize;
}

.NewsUp-card .color {
  font-size: 1rem;
  color: #f8f8f8;
  margin-bottom: 10px;
}

.NewsUp-card .NewsUp-feedback {
  font-size: 1.1rem;
  color: #f8f5f5;
  font-style: italic;
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .NewsUp-section h2 {
    font-size: 2rem;
  }

  .NewsUp-card {
    padding: 20px;
  }

  .NewsUp-card h3 {
    font-size: 1.2rem;
  }

  .NewsUp-card .NewsUp-feedback {
    font-size: 1rem;
  }
}
